<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi tienda Virtual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Personal information</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input label="Name" label-placement="floating" fill="outline" placeholder="Jane"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="Last Name" label-placement="floating" fill="outline" placeholder="Doe"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="Country" label-placement="floating" fill="outline" placeholder="Colombia"></ion-input>
      </ion-col>
      <ion-col>
        <ion-input label="City" label-placement="floating" fill="outline" placeholder="Cartagena"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input label="Address" label-placement="floating" fill="outline" placeholder="Los caracoles cll 26-124"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
  <h1>Payment information</h1>
  <ion-row>
    <ion-col>
      <ion-input label="Enter Your Bank Account Number" label-placement="floating" fill="outline" placeholder="0123456789"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input label="CVC" label-placement="floating" fill="outline" placeholder="123"></ion-input>
    </ion-col>
    <ion-col>
      <ion-input 
      label="Due Date" 
      label-placement="floating" 
      fill="outline" 
      placeholder="12/34" 
      id="click-trigger" 
      [(ngModel)]="selectedDate">
      </ion-input>
      <ion-popover trigger="click-trigger" side="top" alignment="center"triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-datetime 
              presentation="month-year"
              [(ngModel)]="selectedDate"
              (ionChange)="updateDate($event)">
            </ion-datetime>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-col>
    <ion-col>
      <div class="flex">
        <ion-label>Total</ion-label>
        <ion-label>${{ cartTotal.toFixed(2) }}</ion-label>
      </div>
    </ion-col>
  </ion-row>
  <div class="footer">
    <ion-button id="headerAnchor">Payment</ion-button>
    <ion-toast
      trigger="headerAnchor"
      position="top"
      positionAnchor="header"
      message="Proccesing payment"
      duration="1000"
    ></ion-toast>
  </div>
</ion-content>
