<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Mi tienda virtual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let product of cartItems">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="product.image" alt="{{ product.title }}" />
          </ion-thumbnail>
          <div class="grid">
            <ion-label class="item1">{{ product.title }}</ion-label>
            <ion-label class="item2">Qty: {{ product.quantity }}</ion-label>
            <ion-label class="item3">${{ product.totalPrice }}</ion-label>
            <ion-button class="item4" (click)="decreaseQuantity(product)">-</ion-button>
            <ion-button class="item5" (click)="increaseQuantity(product)">+</ion-button>
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
</ion-content>
<ion-content color="light" class="ion-padding">
  <div class="last-content">
    <p>Total</p>
    <h1>${{ cartTotal.toFixed(2) }}</h1>
    <ion-button id="headerAnchor" (click)="goToCheckout()">Checkout</ion-button>
  </div>
</ion-content>
