ion-badge{
    position: absolute;
    top: 8px;
    right: 28px;
    border-radius: 40%;
    background-color: red;
    color: white;
    z-index: 1;
    cursor: default;
}
.order{
    padding: 1rem 0 0 1rem;
}
.asc-desc{
    //hacer un hover
    padding: 1rem 0 0 1rem;
}
ion-accordion.accordion-expanding,
ion-accordion.accordion-expanded {
    width: calc(100% - 32px);
    margin: 16px auto;
}
ion-accordion-group{
    width: 50%;
    justify-self: center;
    border-radius: 30%;
}
.accordion-header{
    text-transform: capitalize;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    padding: 0 20px 0 0;
}
ion-card{
    cursor: pointer;
    transition: all .3s ease;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ion-card:hover {
    transform: scale(1.03);
}
img{
    min-height: 200px;
    width: 100%;
}
ion-card-title {
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.rating{
    display: flex;
    gap: 5px;
    align-items: center;
}
ion-card-content{
    font-size: 1rem;
    color: aliceblue;
}
