.flex{
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
}
// #headerAnchor{
//     position: absolute;
//     width: 99%;
//     bottom: 0;
// }
ion-toast{
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    --background: #46b1ff;
    color: #000;
}