h1{
    margin-left: 1rem;
}
.flex{
    display: flex;
    flex-direction: column;
}
.footer{
    width: 100%;
}
#headerAnchor{
    position: absolute;
    width: 99%;
    bottom: 0;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
}
.custom-loading{
    backdrop-filter: blur(2px);
    --background: transparent;
}